.ui.container.site {
    padding-top: 5%;
    text-align: center;
}
.scanbutton {
    text-align: center;
    padding-top: 5%;
    margin: auto;
}
.failedresults,.successresults,.loadingbar {
    text-align: center;
    padding-top: 4%;
    display: none;
}
.bar {
    transition-duration: 1000ms;
}
.ui.table {
    margin-left: 10%;
    width: 80%;
}
.right {
    display: inline;
    float: right;
    font-size: 13pt;
}
.failed {
    color: red;
}
.remove {
    color: #B03060;
}
.warning {
    color: #dbba00;
}
h4 {
    color: green;
}
noscript {
	color: red;
	font-weight: bold;
	font-size: 15px;
	margin-top: 1%;
}
.ui.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
	text-align: center;
}
.footertext {
    margin: 0 0 0.4em;
}
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}
@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}
@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
    .ui.container.site {
        padding-top: 50px;
    }
    .ui.table {
        margin-left: 0%;
        width: 50%;
    }
    .scanbutton {
        padding-top: 20px;
    }
    .right {
        font-size: 15pt;
    }
	.footertext {
        display: none;
	}
    svg {
        width: 55px;
        height: 55px;
    }
}