.ui.container.site {
    padding-top: 5%;
    text-align: center;
}
.scanbutton {
    text-align: center;
    padding-top: 8%;
    margin: auto;
}
.failedresults,
.successresults,
.loadingbar {
    text-align: center;
    padding-top: 4%;
    display: none;
}
.bar {
    transition-duration: 300ms;
}
.ui.table {
    margin-left: 10%;
    width: 80%;
}
.right {
    display: inline;
    float: right;
    font-size: 11pt;
}
.failed {
    color: red;
}
noscript {
	color: red;
	font-weight: bold;
	font-size: 15px;
	margin-top: 1%;
}
h4 {
    color: green;
}
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}
.ui.container.site {
    padding-top: 5%;
    text-align: center;
}
.undertext {
    text-align: center;
    padding-top: 8%;
}
.undertext .scan {
    margin: auto;
}
.bar {
    transition-duration: 300ms;
}
.ui.table {
    margin-left: 10%;
    width: 80%;
}
.failed {
    color: red;
}
.right {
    display: inline;
    float: right;
    font-size: 11pt;
}
h4 {
    color: green;
}
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}
@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
    .ui.container.site {
        padding-top: 50px;
    }
    .ui.table {
        margin-left: 0%;
        width: 50%;
    }
    .undertext {
        padding-top: 20px;
    }
    .right {
        font-size: 15pt;
    }
    svg {
        width: 55px;
        height: 55px;
    }
}